.top{
    padding-left: 20px;
    padding-top: 5px;
}

.title{
    padding-left: 20px;
}

.title-skeleton{
    padding-left: 20px;
}

.desc{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.info{
    padding-left: 20px;
}