<ion-header [translucent]="true">

  <div class="logo">
    <img src="../../assets/icon/logo.png"/>
  </div>
  
</ion-header>

<ion-content [fullscreen]="true" style="--ion-background-color:white;">

  <!--
  <ion-button (click) = "showData()">
    Show Log
  </ion-button>
  -->
  
  <ion-grid>
    <!--
    <ion-item  *ngFor="let film of films" routerLink="/detail/{{film.id}}">
      <p>{{film.title}}</p>
    </ion-item>
    -->
    <ion-row>
      <ion-col size="4">
        <ion-card class="category" (click)="goToList('films')">
          <img src="../../assets/icon/film.gif" style="width: 50px;height:50px;">
          <ion-card-content>
            <ion-label>Films</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="category" (click)="goToList('peoples')">
          <img src="../../assets/icon/People.gif" style="width: 50px;height:50px;">
          <ion-card-content>
            <ion-label>Peoples</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="category" (click)="goToList('locations')">
          <img src="../../assets/icon/locations.gif" style="width: 50px;height:50px;">
          <ion-card-content>
            <ion-label>Locations</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
      

  </ion-grid>


</ion-content>
